{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'mufi/style.css' %}" />

<!-- Form -->
<form method="post" action="/">
    {% csrf_token %}
    <fieldset>
        {{ form.url }}
        <input type="submit" value="Поиск" class="btn">
    </fieldset>
    <div style="float: left;width: 200px;margin: 20px 0 0 15px;">
        <label for="time_start" style="font-size: 20px;">Позиция старта</label>
        {{ form.time_start }}
    </div>
    <div style="float: right;margin: 20px 15px 0 0;">
        <label for="basic_slider" style="font-size: 20px;margin-top: 5px">Длительность</label>
        {{ form.duration }}
        <div id="basic_slider" style="width: 400px;"></div>
    </div>
</form>