{% load staticfiles %}
<script src="{% static 'mufi/js/jquery.js' %}"></script>
<script src="{% static 'mufi/js/jquery.cookie.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'mufi/style.css' %}" />
{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<div class="container">
{# Display a form #}
<form id='youtube-form' action="/" method="post" class="form">
  {% csrf_token %}
  {% bootstrap_form form %}
  {% buttons %}
    <button id='submit-button' type="submit" class="btn btn-primary">
      {% bootstrap_icon "star" %} Submit
    </button>
  {% endbuttons %}
</form>
<img src="{% static 'mufi/images/loader.gif' %}" class="loader">
<div class="alert alert-success" id="parsing-result"></div>
</div>

<script type="text/javascript">
$(document).ready(function() {
    var csrftoken = $.cookie('csrftoken');
    var timerId = 0;
    // Submit post on submit
    $('#submit-button').on('click', function(event){
        $('img.loader').show();
        event.preventDefault();
        console.log("form submitted!")  // sanity check
        var frm = $('#youtube-form');
        $.ajax({
            type: frm.attr('method'),
            url: frm.attr('action'),
            data: frm.serialize(),
            success: function (data) {
                console.log("start checker");
                // начать повторы с интервалом 2 сек
                timerId = setInterval(function() {
                    checkerState(data);
                }, 2000);

                // через 2 мин остановить повторы
                setTimeout(function() {
                  clearInterval(timerId);
                  console.log("stop checker");
                }, 240000);
            },
            error: function(data) {
                $("#parsing-result").html("Something went wrong!");
            }
        });
        return false;
    });

    function checkerState(videoId) {
        console.log("check");
        $.ajax({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            },
            type: 'POST',
            url: 'checker_state',
            data: {'videoId': videoId},
            success: function (data) {
                var response = $.parseJSON( data );
                if (response.status == 'ok') {
                    $("#parsing-result").html(data);
                    $('#parsing-result').show();
                    $('img.loader').hide();
                    clearInterval(timerId);
                }
            },
            error: function(data) {
                $("#parsing-result").html("Something went wrong!");
            }
        });
    }

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
});
</script>