<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

{% load staticfiles %}
<script src="{% static 'mufi/js/jquery.js' %}"></script>
<script src="{% static 'mufi/js/jquery.cookie.js' %}"></script>
<script src="{% static 'mufi/js/jquery-ui.js' %}"></script>
<script src="{% static 'mufi/js/jquery.mask.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'mufi/jquery-ui.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'mufi/jquery-ui.structure.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'mufi/jquery-ui.theme.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'mufi/style.css' %}" />
<link rel="icon" href="{% static 'mufi/images/favicon.ico' %}">
{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<div class="overlay"></div>

<div class="container-fluid">
    <div class="row" style="height: 10%;">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center"></div>
    </div>
    <div class="row" style="height: 80%;">
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-4 text-center"></div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4" style="position: relative;height: 100%;">
            <div class="well well-sm youtube-well">
                <div class="text-center"><h1>Inaux.net</h1></div>
                <form id='youtube-form' action="{% url 'index' %}" method="post">
                    {% csrf_token %}
                    {% bootstrap_field form.time_start %}
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            {% bootstrap_field form.url layout='inline' %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2" style="margin-top: 6px;">
                            <div class="form-group">
                                <label for="id_time_start_v">Начало:</label>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2">
                            <div class="form-group">
                                <input class="form-control" id="id_time_start_v" title="" type="text">
                            </div>
                        </div>
                        <div class="col-xs-5 col-sm-3 col-md-3 col-lg-3" style="margin-top: 6px;">
                            <div class="form-group">
                                <label for="id_duration">Длительность:</label>
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-3 col-md-3 col-lg-3" id="youtube-form-slider" style="margin-top: 10px;"></div>
                        <div class="col-xs-3 col-sm-2 col-md-2 col-lg-2">
                            <div class="form-group">
                                <input class="form-control" id="id_duration" name="duration" title="" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group text-center">
                                <button id='submit-button' type="submit" class="btn btn-primary">
                                    {% bootstrap_icon "star" %} Определить
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="text-center loader"><img src="{% static 'mufi/images/loader.gif' %}"></div>
                <div class="alert alert-success" id="parsing-result"></div>
                <div class="alert alert-danger" id="parsing-result-error"></div>
                <div class="vk-comments">
                    <div id="disqus_thread"></div>
                    <script type="text/javascript">
                        /* * * CONFIGURATION VARIABLES * * */
                        var disqus_shortname = 'inauxnet';

                        /* * * DON'T EDIT BELOW THIS LINE * * */
                        (function() {
                            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                        })();
                    </script>
                    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-4 text-center"></div>
    </div>
    <div class="row" style="height: 10%;">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center"></div>
    </div>
</div>

<script type="text/javascript">
$(document).ready(function() {
    var csrftoken = $.cookie('csrftoken');
    var timerId = 0;

    // Submit post on submit
    var submitButton = $('#submit-button');
    submitButton.on('click', function(event){
        $("#parsing-result").hide();
        $("#parsing-result-error").hide();
        $('.loader').show();
        event.preventDefault();
        console.log("form submitted!");
        var frm = $('#youtube-form');
        $.ajax({
            type: frm.attr('method'),
            url: frm.attr('action'),
            data: frm.serialize(),
            success: function (data) {
                if (parseInt(data) != 0) {
                    console.log("start checker");
                    // начать повторы с интервалом 2 сек
                    timerId = setInterval(function () {
                        checkerState(data);
                    }, 2000);

                    // через 2 мин остановить повторы
                    setTimeout(function () {
                        clearInterval(timerId);
                        var resultOk = $("#parsing-result");
                        var resultError = $("#parsing-result-error");
                        resultOk.hide();
                        resultError.html('Не удалось найти ни одного совпадения. Попробуйте позже.');
                        resultError.show();
                        $('.loader').hide();
                        console.log("stop checker");
                    }, 240000);
                }
            },
            error: function(data) {
                $("#parsing-result").html("Something went wrong!");
            }
        });
        return false;
    });

    // для запуска авто-сабмита при передаче гетов
    var autoSubmit = {% if auto_submit %}true{% else %}false{% endif %};
    if (autoSubmit) {
        submitButton.trigger('click');
    }

    var idTimeStartV = $('#id_time_start_v');
    $('#id_url').on('keyup change', function() {
        var url = document.createElement('a');
        url.href = $(this).val();
        var time = getUrlParameter(url, 't');
        if (time) {
            idTimeStartV.val(time.toHHMMSS());
            $('#id_time_start').val(parseInt(time));
        } else {
            idTimeStartV.val('');
            $('#id_time_start').val(0);
        }
    });
    idTimeStartV.mask('00:00:00', {
        'placeholder': '__:__:__',
        'clearIfNotMatch': true
    });
    idTimeStartV.on('change', function() {
        var hms = $(this).val();
        var a = hms.split(':');
        $('#id_time_start').val((+a[0]) * 60 * 60 + (+a[1]) * 60 + (+a[2]));
    });

    var formSlider = $("#youtube-form-slider");
    formSlider.slider({
        range: "min",
        value: 15,
        min: 10,
        max: 30,
        slide: function(event, ui) {
            $("#id_duration").val(ui.value);
        }
    });
    $("#id_duration").val(formSlider.slider("value"));

    String.prototype.toHHMMSS = function () {
        var sec_num = parseInt(this, 10); // don't forget the second param
        var hours   = Math.floor(sec_num / 3600);
        var minutes = Math.floor((sec_num - (hours * 3600)) / 60);
        var seconds = sec_num - (hours * 3600) - (minutes * 60);

        if (hours   < 10) {hours   = "0"+hours;}
        if (minutes < 10) {minutes = "0"+minutes;}
        if (seconds < 10) {seconds = "0"+seconds;}
        var time    = hours+':'+minutes+':'+seconds;
        return time;
    };

    function checkerState(videoId) {
        console.log("check");
        $.ajax({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            },
            type: 'POST',
            url: 'checker_state/',
            data: {'videoId': videoId},
            success: function (data) {
                var response = $.parseJSON( data );
                if (response.status != 'pending') {
                    clearInterval(timerId);
                    $('.loader').hide();
                }
                var resultOk = $("#parsing-result");
                var resultError = $("#parsing-result-error");
                if (response.status == 'ok') {
                    var youtubeUrl = 'https://www.youtube.com/results?search_query=';
                    var resultHtml = '';
                    var songs = response.songs;
                    for (var key in songs) {
                        resultHtml += '<table class="table table-bordered" style="background-color: white;margin-bottom: 0;"><tbody>';
                            resultHtml += '<tr><th scope="row">Название</th><td>' + songs[key]['title'] + '</td></tr>';
                            resultHtml += '<tr><th scope="row">Исполнитель</th><td>' + songs[key]['artist'] + '</td></tr>';
                            resultHtml += '<tr><th scope="row">Альбом</th><td>' + songs[key]['album'] + '</td></tr>';
                        resultHtml += '</tbody></table>';

                        var url = $('#id_url').val().split('?')[0];
                        var ts = $('#id_time_start').val();
                        var dur = $('#id_duration').val();
                        var href = 'http://{{ request.META.HTTP_HOST }}/?url=' + url + '&time_start=' + ts + '&duration=' + dur;

                        resultHtml += '<div class="search-on-youtube">Поделись ссылкой ';
                        resultHtml += '<input class="form-control" value="' + href + '" type="text">';
                        resultHtml += '</div>';
                        resultHtml += '<div class="search-on-youtube"><a href="';
                        resultHtml += youtubeUrl + encodeURIComponent(songs[key]['title'] + ' ' + songs[key]['artist']);
                        resultHtml += '" target="_blank">Результаты поиска в YouTube</a></div>';
                    }
                    resultError.hide();
                    resultOk.html(resultHtml);
                    resultOk.show();
                } else if (response.status == 'error') {
                    resultOk.hide();
                    resultError.html('Не удалось найти ни одного совпадения. Попробуйте позже.');
                    resultError.show();
                }
            },
            error: function(data) {
                $("#parsing-result").html("Something went wrong!");
            }
        });
    }

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    function getUrlParameter(url, sParam) {
        var sPageURL = url.search.substring(1);
        var sURLVariables = sPageURL.split('&');
        for (var i = 0; i < sURLVariables.length; i++) {
            var sParameterName = sURLVariables[i].split('=');
            if (sParameterName[0] == sParam) {
                return sParameterName[1];
            }
        }
    }
});
</script>