.loader {
	display: none;
}

#parsing-result,
#parsing-result-error {
	display: none;
}

.youtube-well {
	width: 100%;
	position: absolute;
	top: 50%;
	left:50%;
	transform: translate(-50%,-50%);
}

.youtube-well {
	background-image: url("images/beta.png");
    background-repeat: no-repeat;
}